/* Column name styles */
.column-name-input {
    color: #012169; /* Input column name color */
    font-weight: bold;
    display: block; /* Ensures it appears on a separate row */
    margin-bottom: 5px;
}

.column-name-output {
    color: #f5c400; /* Output column names color */
    font-weight: bold;
    display: block; /* Ensures they appear on separate rows */
    margin-bottom: 5px;
}
